/* 
background-color: #301c11;
color: #c84e00;
background-color: #eaddcc;
color: #80695c;

    font-family: 'a day without sun', cursive;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1px ;
*/

/* fonte do titulo 1 */ @import url('https://fonts.cdnfonts.com/css/the-brittany-script');
/* fonte dos titulos 2 */@import url('https://fonts.cdnfonts.com/css/a-day-without-sun');
/* fonte dos paragráfos */ @import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* toda a página */
*{
    margin: 0%;
    background-color: #eaddcc;
}

/* cabeça do corpo */
header{
    padding: 20px;
    border: 10px;
    background-color: #301c11;
    font-family: 'A DAY WITHOUT SUN', sans-serif;
    font-size: 2em;
    letter-spacing: 2px ;
}

/* primeiro titúlo com o nome */
h1{
    font-size: 90px;
    font-family: 'The Brittany Script', sans-serif;
    font-style: inherit;
    text-align: center;
}

/* imagem do sobre mim */
#imgsobre{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin: 30px;
}

/* caixa da imagem sobre mim */
.isobre{
    width: 400px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
}


/* segundo titulo do sobre mim */
#hsobre{
    font-family: 'a day without sun';
    font-size: 3em;
    letter-spacing: 2px ;
}

/* paragrafo do sobre mim */
#psobre{
    font-size: 23px;
    font-family: 'Shantell Sans';
}

/* caixa do titulo e paragrafo do sobre mim */
.hpsobre{
    width: 510px;
    height: 400px;
    display: inline-block;
    margin: 10px;
}

/* segundo titulo do projeto */
#hprojeto{
    font-family: 'a day without sun';
    font-size: 3em;
    letter-spacing: 2px ;
    text-align: center;
}

/* imagem da pt.1 do projeto */
#imgprojeto1{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin: 30px;
}

/* caixa da imagem da pt.1 do projeto */
.iprojeto1{
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;

    background-color: blue;
}

/* paragrafo da pt.1 do projeto */
#prgprojeto1{
    font-size: 23px;
    font-family: 'Shantell Sans';
    background-color: aqua;
}

/* caixa do paragrafo da pt.1 do projeto */
.tprojeto1{
    width: 430px;
    height: 550px;
    display: inline-block;
    margin: 10px;
}


/* paragrafo da pt.2 do projeto */
#prgprojeto2{
    font-size: 23px;
    font-family: 'Shantell Sans';
    background-color: aqua;
}

/* caixa do paragrafo pt.2 do projeto */
.tprojeto2{
    width: 430px;
    height: 550px;
    display: inline-block;
    margin: 10px;
}

/* imagem da pt.2 do projeto */
#imgprojeto2{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin: 30px;
}

/* caixa da imagem pt.2 do projeto */
.iprojeto2{
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    

    background-color: blue;
}

#habilidades{}

#contatos{}
